@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a4764;
}

.container{
    width: 25vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .calculator-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4vh;
}

.container .calculator-header .title{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.container .theme-container{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.container .theme-container .descreption{
    color: white;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-weight: bold;
    font-size: .8rem;
    height: 4vh;
}

.theme-container .slider{
    width: 50%;
}

.theme-container .slider .numbers{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-container .slider .slider-line{
    background-color: #232c43;
    width: 100%;
    height: 3vh;
    border-radius: 20px;
    position: relative;
    padding: 2px 2px;
}

.slider .slider-line .slider-circle{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}

.calculator-result{
    width: 100%;
    height: 10vh;
    background-color: #242c41;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 2rem;
}

.calculator-result .result{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

.calculator-body{
    width: 100%;
    border-radius: 10px;
    height: 50vh;
    background-color: #232c43;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5rem;
    padding: 2rem;
}

.btn{
    color: #232c43;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.8rem;
    transition: all .5s;
    cursor: pointer;
    box-shadow: 1px 1px 10px #384257,
    1px 1px 10px #384257;
}

.btn:hover{
    background-color: #384257;
    color: white;
}

.btndell, .btn.reset{
    background-color: #3a4764;
    color: white;
}

.btnell:hover, .btn.reset:hover{
    color: #232c43;
    background-color: white;
}

.btn.reset, .btn.equal{
    grid-column: 2 span;
}

.btn.equal{
    background-color: red;
    color: white;
}

.btn.equal:hover{
    color: red;
    background-color: white;
}